.navbar-icon>img {
	height: 15px;
	padding: 15px;
	width: auto;

}


h1 {
	text-align: center;
}
div.container {


}
.div.fluid-container {
	width: 100%;
}

.img-fluid {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}
